/* 363859 */
.navbar{
    background-color: #363859;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  margin:0;
  border-bottom: solid 1px var(--dark-orange);
  opacity: 0.9;
  margin-right: 0.6rem;
}
.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;
    font-family: "Poppins Bold";
}
.navbar a:hover{
    color: var(--dark-orange);
}